body{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#cleargridbtn{
  height: 40px;
  width: 80px;
  margin-bottom: 15px;
  font-weight: 700;
}

#etchasketchcontainer{
  display: grid;
  border: 1px solid black;
  height:750px;
  width:750px;
}

.row{
  display:flex;
  justify-content:center;
}

.etchasketchtile{
  background: #fff;
}
